<form id="game-edit" (ngSubmit)="onGameSubmit(form)" #form="ngForm">
    <div class="card">

        <div class="card-body">
            <h5 for="name">Game Name:</h5>
            <input type="text" id="name" class="form-control" size="120" max="120" name="name"
                [ngModel]="originalGame?.name" #name="ngModel" required>
            <h5 for="description">Game Description:</h5>
            <input type="text" id="description" class="form-control" size="120" max="120" name="description"
                [ngModel]="originalGame?.description" #description="ngModel" required>
                <button class="btn btn-success" type="submit">Save Game</button>
                <button class="btn btn-danger" (click)="deleteGame()">Delete Game</button>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item small-margins" *ngIf="editMode == true">
            <input type="text" id="bingoChoiceAdd" class="form-control" style="width: 39em; display: inline" size="120" max="120" name="bingoChoiceAdd" [(ngModel)]="addBingoChoice" #bingoChoiceAdd>
            <button class="btn btn-secondary" style="display: inline" (click)="bingoChoiceAdded()" type="button"><span>✓</span></button>
          </li>
            <li class="list-group-item" *ngFor="let bingoChoice of bingoChoices; let i = index"
                style="justify-content: space-between;">
                <app-bingo-detail [bingoChoice]="bingoChoice" [game]="game"></app-bingo-detail>

            </li>

        </ul>
    </div>
</form>
